*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 60px;
    
}
.header nav{
    width: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.header nav .logo{
    width: 20%;
    height: 100%;
}
.header nav .menu{
    width: 15%;
    height: 100%;
}
#checkbox{
    display: none;
}
.header nav .menu label {
    width:100% ;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.header nav .menu label span{
    width: 30px;
    height: 5px;
    margin: 3px;
    background-color: white;
}
.header nav .menu ul{
    position:fixed;
    top: -100%;
    right: 0;
    left: 0;
   
    background-color: red;

}
#checkbox:checked ~ ul{
    top: 60px;
    transition: 2s;
}
.big-slider{
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
.big-slider .slider{
    width: 500%;
    height: 100%;
    position: relative;
    animation: 4s slider infinite;

}
.big-slider .slider img{
    width: 20%;
    height: 100%;
    object-fit: cover;
}
 @keyframes slider  {
     0%{
         left: 0;
     }
     20%{
          left:-100%;
     }
     40%{
         left: -200%;
     }
     60%{
           left: -300%;
     }
     80%{
          left: -400%;
     }
     100%{
          left: 0;
     }
     
 } 
 .home-side{
     display: none;
 }
 .blog-side{
     display: none;
 }
 .code-side{
     display: none;
 }
 #home:checked~ .home-side{
     display: block;
 }
 #blog:checked ~ .blog-side{
     display: block;
 }
 #code:checked ~ .code-side{
     display: block;
 }